<div class="comment-container" style="opacity: 0.0;">
  <div class="comment-user">
    <%= user_avatar(comment.user.avatar) %>
    <p><%= comment.user.alias %></p>
    <div class="timestamp">
      <p><%= comment.time_since_creation %></p>
    </div>
  </div>
  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>
</div>
