<div class="comment-container">
  <div class="comment-user">
    <div class="avatar avatar-card-artist" style="background-image: url(<%= comment.user.avatar %>);">
    </div>
    <p><%= comment.user.alias %></p>
    <div class="timestamp">
      <p><%= ((Time.now - Comment.find(34).created_at) / 60).to_i %> min ago</p>
    </div>
  </div>
  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>
</div>
