.container-banner {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  h1 {
    // text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 35px;
    span {
      background-color: rgba(0,0,0,0.3);
      padding: 8px 13px;
    }
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    span {
      background-color: rgba(0,0,0,0.3);
      padding: 5px 10px;
    }
  }
  a {
    font-size: 20px;
  }
}
