.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-filters {
  padding: 20px 20px;
  a {
    color: #616668;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
}

.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

.pac-container {
  z-index: 9999 !important;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 70px - 106.5px - 27vh - 6vh);
}
