<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-about">
    <p>Graffic was made with <i class="fa fa-heart"></i> by</p>
    <div class="footer-connect">
      <div class="link">
        <a href="https://github.com/trembylene">
          <i class="fa fa-github"></i> Jessica Scanlan
        </a>
      </div>
      <div class="link">
        <a href="https://github.com/danielkaga">
          <i class="fa fa-github"></i> Daniel Kaga
        </a>
      </div>
      <div class="link">
        <a href="https://github.com/sergiomurakami">
          <i class="fa fa-github"></i> Sergio Murakami
        </a>
      </div>
    </div>
  </div>
</div>
