<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="footer-info">
          <p>Graffic is a web app where you can find and share street art in you local area and worldwide. Our aim is to inspire adventures in the realm of your daily life, and to kindle the creativity that flourishes inside your soul. We celebrate exploration, discovery, and artistic spirit.</p>
          <p>Want to contact the creators of this page? Click our names right here.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-about">
          <p>Graffic was made with <i class="fa fa-heart heart"></i> by</p>
          <div class="footer-connect">
            <div class="link">
              <a href="https://github.com/trembylene">
                <i class="fa fa-github"></i> Jessica Scanlan
              </a>
            </div>
            <div class="link">
              <a href="https://github.com/danielkaga">
                <i class="fa fa-github"></i> Daniel Kaga
              </a>
            </div>
            <div class="link">
              <a href="https://github.com/sergiomurakami">
                <i class="fa fa-github"></i> Sergio Murakami
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
