.art-body-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content h1 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 13px;
}

.banner {
  background: center;
}

a {
  color: #616668;
  &:hover {
    // color: #4AB8A1;
    text-decoration: none;
  }
}

h5 {
  font-size: 40px;
}

.link {
  text-decoration: underline;
  &:hover {
    color: #DC143C;
  }
}

.tags {
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 20px;
}

#tag {
  margin: 4px 2px 4px 2px;
}

.comments-container {
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-left: 30px;
  #new_comment {
    margin-left:15px;
    width: 100%;
  }
}


.comment-container {
margin: 5px 0px 5px 0px;
}

.user-alias p {
  font-size: 13px;
  color: #616668;
}

.comments {
  max-height: 600px;
}

.comment-content {
  margin: 10px 0px 10px 15px;
  padding: 8px 10px 0.1px 10px;
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

.comment-user {
  display: flex;
  align-items: center;
}

#map {
  position: relative !important;
  top: auto !important;
  right: auto !important;
}

.timestamp {
  margin-left: 20px;
  p {
    font-size: 12px;
    color: #616668;
  }
}
