.art-body-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  background: center;
}

a {
  color: #616668;
  &:hover {
    color: #4AB8A1;
    text-decoration: none;
  }
}
