.art-body-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.art-body {
  padding: 20px;
}

.banner-content h1 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 13px;
}

.banner {
  background: center;
}

.map-container {
  padding: 20px;
}

a {
  color: #616668;
  &:hover {
    // color: #4AB8A1;
    text-decoration: none;
  }
}

h5 {
  font-size: 40px;
}

.details {
  font-style: italic;
}

.link {
  text-decoration: underline;
  color: $crimson;
}

.tags {
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 20px;
}

#tag {
  margin: 4px 2px 4px 2px;
}

#comments {
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-left: 30px;
}

#art-title {
  font-weight: bold;
  font-size: 36px;
}

.art-description {
  font-size: 22px;
  padding-right: 20px;
}

.comments-section {
  display: flex;
  justify-content: space-between;

}
