<div class="container-banner" style="background-image: url(<%= asset_path 'grafficbanner2.jpg' %>)">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title-banner text-center"><span>Graffic</span></h1>
      <h2 class="byline-banner text-center"><span>Find and share street art</span></h2>
      <%= link_to "Explore Street Art", arts_path, class: "btn btn-danger" %>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container">
        <h2 class="page-title">Most Popular Street Art</h2>
        <div class="container">
          <div class="row">
            <% @arts.each do |art| %>
              <%= render "/shared/cards", art:art %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
