<div class="text-center"></div>
<h1>Pages#home</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container">
        <h2 class="page-title">Most Popular Street Art</h2>
       <%= render '/shared/cards_home' %>
      </div>
    </div>
  </div>
</div>
