<head>
  <title>123</title>
</head>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container search-card-height">
        <h2 class="page-title">Hearted Art</h2>
        <div class="index-cards">
          <div class="container">
            <div class="row">
              <% @arts.each do |art| %>
                <%= render '/shared/cards', art:art %>
              <% end %>
            </div>

            <% if @arts.length > 0 %>
              <div
              id="map_search"
              data-markers="<%= @markers.to_json %>"
            ></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
