<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container">
        <div class="search-bar" id="index-search">
          <h2 class="page-title">Explore Street Art</h2>
          <%= render 'shared/search_bar' %>
        </div>
        <%= render '/shared/cards_index' %>
      </div>
    </div>
  </div>
</div>
