<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container">
        <h2 class="page-title">Explore Street Art</h2>
       <%= render '/shared/cards_index' %>
      </div>
    </div>
  </div>
</div>
