<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container search-card-height">
        <h2 class="page-title">My Street Art</h2>
        <div class="index-cards">
          <div class="container">
            <div class="row">
              <% current_user.creations.each do |art| %>
                <%= render '/shared/cards', art:art %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
