<script>
  if (navigator.geolocation) {
    console.log('Geolocation is supported!');
  }
  else {
    console.log('Geolocation is not supported for this Browser/OS.');
  }
</script>
<div class="forms">
  <% if current_user.is_a?(StreetArtist) %>
    <h2 class="text-center">Upload Your Art</h2>
  <% else %>
    <h2 class="text-center">Upload Art</h2>
  <% end %>
   <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

