<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-container search-card-height">
        <h2 class="page-title">Art I've Uploaded</h2>
        <div class="index-cards">
          <div class="container">
            <div class="row">
              <% @arts.each do |art| %>
                <% if current_user.id == art.user_id %>
                  <%= render '/shared/cards', art:art %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
