.card-container {
  font-family: $body-font;
}

.col-xs-12 {
  padding: 0px;
}

.card {
  height: 370px;
  width: 320px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  border-top: 1px solid rgba(0,0,0,0.05);
  &:hover {
  opacity: 0.65;
  background-color: rgba(0,0,0,0.03);
  border: 1px solid rgba(234, 0, 63,0.65);
  }
}

.card-header {
  margin-top: 15px;
  width: 280px;
  text-align: left;
  .card-title {
    margin: 0px;
  }
}

.card-body {
  margin-top: -5px;
  .card-photo {
    height: 170px;
    width: 280px;
    border-radius: 5px;
    background-size: cover !important;
    background-position: center;
  }
}

.card-footer {
  width: 280px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: -15px;
  font-size: 16px;
  .avatars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
  }
  .card-description {
    color: gray;
    margin: 0px;
    padding-bottom: 5px;
  }
  .read-more a {
    color: $crimson;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
