.glyphicon-heart-empty:before {
  content: "\e-100";
  color: transparent;
  display: block;
  height: 100%;
  background: url("//res.cloudinary.com/trembylene/image/upload/v1524809677/waas2gi3cu0xxpqqsfkp.svg") no-repeat;
  background-size: auto 100%;
  line-height: 1.5;
  margin-right: -5px;
}

.glyphicon-heart:before {
  content: "\e-100";
  color: transparent;
  display: block;
  height: 100%;
  background: url("//res.cloudinary.com/trembylene/image/upload/v1524809420/kuzbuvs5nu74mrfszbet.svg") no-repeat;
  background-size: auto 100%;
  line-height: 1.5;
  margin-right: -5px;
}
