// MEDIUM DEVICES
@media (min-width:1200px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  #map_search {
    margin-top: 3vh;
    margin-bottom: 2vh;
    flex: 0 0 40%;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
    right: 0 !important;
  }
}

@media (max-width:1200px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  #map_search {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 100%;
    height:50vh;
  }
}
