.search-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0,0,0,0.3);
}

#index-search {
  height: 100px;
  h2 {
    padding-top: 3vh !important;
  }
}

#index-filters {
  padding: 6vh 6vh 0px 0px;
}

#search-page {
  height: 50px;
  max-height: 50px;
  padding: 0px 20px 0px 20px;
}

.search-filters {
  padding-top: 15px;
  a {
    color: #616668;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
}

@media (max-width: 700px) {
  #hideable {
    display: none;
  }
  #invisible {
    visibility: hidden;
  }
}

@media (min-width: 700px) {
  #hidden-filter {
    display: none;
  }
}
